data/lines
data/_lines
data/sentences.txt
data/words.txt
main_model/model_snapshots
recognizers/
_recognizers/
.DS_Store
data/.DS_Store
main_model/.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints
